<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
	
	<!-- service -->
	<bean id="userService" class="com.yuzhou.service.impl.UserServiceImpl"></bean>
	<!-- <bean id="orderServoce" class="com.yuzhou.service.impl.OrderServiceImpl"></bean> -->
	
	<!-- advice -->
	<bean id="logArgsAdvice" class="com.yuzhou.advice.LogArgsAdvice"></bean>
	<bean id="logResultAdvice" class="com.yuzhou.advice.LogResultAdvice"></bean>
	
	<!-- 定义一个只拦截queryUser方法的advisor -->
	<bean id="logArgsAdvisor" class="org.springframework.aop.support.NameMatchMethodPointcutAdvisor">
		<!-- advisor内部会有一个advice -->
		<property name="advice" ref="logArgsAdvice"></property>
		<!-- 只有指定方法会被拦截 -->
		<property name="mappedNames" value="createUser,createOrder"></property>
	</bean>
	
	<!-- 定义第二个只拦截queryUser方法的advisor -->
	<bean id="logResultAdvisor" class="org.springframework.aop.support.NameMatchMethodPointcutAdvisor">
		<!-- advisor内部会有一个advice -->
		<property name="advice" ref="logResultAdvice"></property>
		<!-- 只有指定方法会被拦截 -->
		<property name="mappedNames" value="createUser,createOrder"></property>
	</bean>
	
	<!-- proxy and target and advice(还可以为advisor) -->
	<bean id="userServiceProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
		<!-- proxy -->
		<property name="proxyInterfaces">
			<list>
				<value>com.yuzhou.service.UserService</value>
			</list>
		</property>
		
		<!-- target -->
		<property name="target" ref="userService"></property>
		
		<!-- advisor -->
		<property name="interceptorNames">
			<list>
				<value>logArgsAdvisor</value>
				<value>logResultAdvisor</value>
			</list>
		</property>
	</bean>
</beans>
